<div id="employee_login_page">
<div id="employee_login_page2"><label id="label_welcome"> Welcome </label></div>
<form action = "sessions/create" class="login_form" name="employee_login" method="post" >
<input required="required" type="text" size= 50px height = 10px name="email_id" placeholder="Email Id" class="login_form_field" />
<br> <br>
<input type="password" name="password" size=50px height=10px placeholder="Password" class="login_form_field" />
<br>
<br>
<input type="submit" value="Login" name="submit" id="login_form_field"/>
</form>
</div>
